body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: #b6d6d2;
}
.MainDocuments {
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

html {
  scroll-behavior: smooth;
}
