body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b6d6d2;
}
