.r2 {
  width: 80%;
  text-align: center;
  margin-bottom: 50 px;
}

.skills-Container {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.skills-Container li {
  text-align: left;
}
